<h1>Hello</h1>
<p>Find me in app/views/demo/hello.html.erb

<% @array.each do |n| %>
  <%= n %><br/>
<% end %>

<br>

  <%= link_to('Hello with para', {:controller => 'demo', :action => 'index', :page => 5, :id => 20 }) %>

<br>
ID:
